* {
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  margin: 0;
}

/* Define 1rem */
:root {
  font-size: 12px;
  line-height: 1.5;
}

#leftbar {
  display: flex;
  padding: 2em 0 2em 0em;
}

/* Borders must match to have proper alignment */
#statuses,
textarea {
  border: 2px solid;
}

#statuses {
  border-color: transparent;
  padding: 0.5em;
}

.status-container {
  position: relative;
  width: 18px;
  height: 18px;
  text-align: center;
}

.status-container > svg {
  position: absolute;
  top: 0;
}

textarea {
  border-color: lightgray;
  padding: 0.5em;
  white-space: pre;
  resize: none;
  min-width: 40ch;
  font-size: 1rem;
  line-height: 1.5;
}

#timelines {
  margin: 3em;
  flex-grow: 1;
  position: relative;
}

#add-timezone {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-timezone select {
  padding: 0.5em;
  border: 1px solid darkgray;
  border-radius: 8px;
}

button {
  background-color: pink;
  border: none;
  border-radius: 8px;
  font-size: 2em;
  aspect-ratio: 1;
}

button:hover {
  cursor: pointer;
  background-color: hotpink;
}

.remove-button {
  line-height: 1;
}

#add-button {
  height: 100%;
  margin-left: 0.5em;
  line-height: 1.3;
}

svg {
  display: block;
}
