* {
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  margin: 0;
}

:root {
  font-size: 16px;
}

#statuses {
  border-top: 2px solid transparent;
  padding: 0.5em;
}

.status-container {
  position: relative;
  width: 14px;
}

.status-circle {
  position: absolute;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

textarea {
  padding: 0.5em;
  white-space: pre;
  resize: none;
  width: 100%;
}
