* {
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  margin: 0;
}

/* Define 1rem */
:root {
  font-size: 12px;
}

/* Borders must match to have proper alignment */
#statuses,
textarea {
  border: 2px solid;
}

#statuses {
  border-color: transparent;
  padding: 0.5em;
}

.status-container {
  position: relative;
  width: 14px;
  text-align: center;
}

.status-circle {
  position: absolute;
  top: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

textarea {
  border-color: lightgray;
  padding: 0.5em;
  white-space: pre;
  resize: none;
  min-width: 50ch;
  font-size: 1rem;
}

#timelines {
  padding: 3em;
  height: 100vh;
}

svg {
  display: block;
}
