* {
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  margin: 0;
}

/* Define 1rem */
:root {
  font-size: 12px;
  line-height: 1.5;
}

#leftbar {
  display: flex;
  padding: 2em 0 2em 0em;
}

/* Borders must match to have proper alignment */
#statuses,
textarea {
  border: 2px solid;
}

#statuses {
  border-color: transparent;
  padding: 0.5em;
}

.status-container {
  position: relative;
  width: 18px;
  text-align: center;
}

.status-container > svg {
  position: absolute;
  top: 0;
}

textarea {
  border-color: lightgray;
  padding: 0.5em;
  white-space: pre;
  resize: none;
  min-width: 40ch;
  font-size: 1rem;
  line-height: 1.5;
}

#timelines {
  padding: 3em;
  height: 100vh;
  flex-grow: 1;
}

svg {
  display: block;
}
